
@{
    ViewData["Title"] = "admin";
}

<div class="content-page">
    <div class="content">
        <div class="container">
            <h1><b></b></h1>
            <div class="row">

                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Cambiar Contraseña</b></h4>
                        <p class="text-muted m-b-30 font-14">

                        </p>

                        <form class="form-horizontal" action="" method="post" role="form">

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Contraseña Actual</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword3" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword4" class="col-sm-3 control-label">Nueva Contraseña (no debe utilizar las últimas 3 contraseñas)</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Nueva Contraseña">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword4" class="col-sm-3 control-label">Repetir nueva contraseña</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Repetir nueva contraseña">
                                </div>
                            </div>

                            <div class="form-group m-b-0">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-info waves-effect waves-light">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <!-- end col -->

            </div>
        </div>
    </div>
</div>

