
@{
    ViewData["Title"] = "infoempresa";
}

<div class="content-page">
    <div class="content">
        <div class="container">
            <h1><b></b></h1>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">

                        <h4 class="m-t-0 header-title"><b>Información de Empresa</b></h4>
                        <p class="text-muted font-14">
                            <!--The Stack Table stacks the table headers to a two column layout with headers on the left. Resize your viewport to across the 40em (640px) breakpoint to see the change.-->
                        </p>

                        <table class="tablesaw m-t-10 table m-b-0 " data-tablesaw-mode="stack">
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <th>Organismo</th>
                                    <td>Soldaduría Zuleta</td>
                                </tr>
                                <tr>
                                    <td>Razón Social</td>
                                    <td>Soluciones integrales de Mantenimiento</td>
                                </tr>
                                <tr>

                                    <td>Tipo de Empresa</td>
                                    <td>Natural</td>
                                </tr>
                                <tr>
                                    <td>Razón Social</td>
                                    <td>Soluciones integrales de Mantenimiento</td>
                                </tr>
                                <tr>
                                    <td>Giro</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Sucursal</td>
                                    <td>Villa Alemana</td>
                                </tr>
                                <tr>
                                    <td>Rut</td>
                                    <td>12.154.362-9</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

