
@{
    ViewData["Title"] = "infousu";
}

<div class="content-page">
    <div class="content">
        <div class="container">
            <h1><b></b></h1>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">

                        <h4 class="m-t-0 header-title"><b>Información de Empresa</b></h4>
                        <p class="text-muted font-14">
                            <!--The Stack Table stacks the table headers to a two column layout with headers on the left. Resize your viewport to across the 40em (640px) breakpoint to see the change.-->
                        </p>

                        <table class="tablesaw m-t-10 table m-b-0 " data-tablesaw-mode="stack">
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <th>Nombre</th>
                                    <td>
                                        <input class="col-md-4" value="Moises " type="text" name="txtnombre">

                                    </td>
                                </tr>
                                <tr>
                                    <td>Apellido</td>
                                    <td>
                                        <input class="col-md-4" type="text" value="Zuleta Yulis " name="txtnombre">

                                    </td>
                                </tr>
                                <tr>

                                    <td>Rut</td>
                                    <td>

                                        <input class="col-md-2" type="text" value="17.808.433-k" name="txtnombre" disabled>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Genero</td>

                                    <td>


                                        <select class="selectpicker col-md-2" data-style="btn-default">
                                            <optgroup label="Seleccione Genero">
                                                <option>Femenino</option>
                                                <option>Masculino</option>
                                            </optgroup>
                                        </select>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Cargo</td>
                                    <td>
                                        <input class="col-md-4" type="text" name="txtnombre" placeholder="Ingrese Cargo">

                                    </td>
                                </tr>
                                <tr>
                                    <td>E-Mail</td>
                                    <td>
                                        <input class="col-md-4" type="text" name="txtnombre" value="mioses.zuleta@mantencion.cl">

                                    </td>
                                </tr>
                                <tr>
                                    <td>Telefono</td>
                                    <td>
                                        <input class="col-md-2" type="text" name="txtnombre">

                                    </td>
                                </tr>
                                <tr>
                                    <td>Calular</td>
                                    <td>
                                        <input class="col-md-2" type="text" name="txtnombre">

                                    </td>
                                </tr>
                                <tr>
                                    <td>Fax</td>
                                    <td>
                                        <input class="col-md-2" type="text" name="txtnombre">

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

