
@{
    ViewData["Title"] = "pais";
}

<div class="content-page">
    <div class="content">
        <div class="container">

            <h1><b>Sudamérica</b></h1>

            <div class="row">
                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="carrito"><img src="/assets/images/paises/banderas/americadelsur/chile.jpg" class="img-rounded img-thumbnail" alt="profile-image"></a>
                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Chile</h4>

                            </div>
                        </div>

                    </div>

                </div> <!-- end col -->


                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="/assets/images/paises/banderas/americadelsur/paraguay.png" class="img-rounded img-thumbnail" alt="profile-image"></a>
                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Paraguay</h4>

                            </div>

                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>

                        </div>

                    </div>

                </div> <!-- end col -->

                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="/assets/images/paises/banderas/americadelsur/argentina.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Argentina</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>


                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="/assets/images/paises/banderas/americadelsur/Bolivia.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Bolivia</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#exampleModalLong">Detalle</button>


                        </div>

                    </div>
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/assets/images/paises/banderas/americadelsur/Bolivia.png" class="img-rounded img-thumbnail" alt="profile-image"> -<img src="/assets/images/paises/banderas/americadelsur/chile.jpg" class="img-rounded img-thumbnail" alt="profile-image">
                                    <h2 class="modal-title" id="exampleModalLongTitle">Acerca del Acuerdo</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <a href="https://www.direcon.gob.cl/2017/06/acuerdo-de-complementacion-economica-chile-bolivia-2/" target="_blank"> <img src="/assets/images/paises/banderas/americadelsur/detallebolivia.png" class="img-rounded img-thumbnail" alt="profile-image"></a> </br>
                                    <p>
                                        El Acuerdo de Complementación Económica entre Chile y Bolivia (ACE N° 22) fue el resultado de casi dos años de negociaciones por representantes de ambos países. Suscrito el 6 de abril de 1993 en Santa Cruz de la Sierra, Bolivia, entró en vigencia ese mismo día.</br>

                                        En 1991, al momento de iniciar las negociaciones, se pensó que por tener ambos países políticas macroeconómicas similares, una latente intención de facilitar caminos de entendimiento y por ser economías complementarias, el camino para lograr un Acuerdo sería más expedito. Sin embargo, las tratativas se alargaron durante casi tres años, hasta que en abril de 1993 éstas finalizaron.</br>

                                        A pesar de las dificultades iniciales, las negociaciones comerciales con Bolivia abrieron espacios de entendimiento para ambos países. El Acuerdo fue un importante avance en el proceso de relaciones con Bolivia y en la creación de grados de confianza que permitieron más adelante afianzar los lazos bilaterales y una agenda común en muchas materias.</br>

                                        En marzo del 2006 se realizó una significativa profundización del programa de liberalización del Acuerdo, mediante el cual Chile otorgó el 100% de preferencia arancelaria a todos los productos originarios de Bolivia, a excepción del trigo, harina de trigo y azúcar (para este último producto, Chile concedió una cuota de 6 mil toneladas anuales libre de arancel).</br>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    <div class="pull-left">
                                        <img src="/assets/images/LogoAcexP2.png" alt="" height="28">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="/assets/images/paises/banderas/americadelsur/brasil.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Brasil</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>
                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="/assets/images/paises/banderas/americadelsur/colombia.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Colombia</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>
            </div>



            <div class="row">
                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="/assets/images/paises/banderas/americadelsur/ecuador.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Ecuador</h4>

                            </div>

                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>
                        </div>

                    </div>

                </div> <!-- end col -->

                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="/assets/images/paises/banderas/americadelsur/peru.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Peru</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div> <!-- end col -->

                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="/assets/images/paises/banderas/americadelsur/uruguay.jpg" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Uruguay</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>


                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="/assets/images/paises/banderas/americadelsur/venezuela.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Venezuela</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>


            </div>

            <h1><b>Centroamérica</b></h1>

            <div class="row">
                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/centroamerica/panama.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Panamá</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>

                        </div>

                    </div>

                </div> <!-- end col -->

                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/centroamerica/nicaragua.jpg" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Nicaragua</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div> <!-- end col -->

                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/centroamerica/honduras.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Honduras</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>


                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/centroamerica/guatemala.jpg" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Guatemala</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>


                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/centroamerica/costarica.jpg" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Costa Rica</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>
                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/centroamerica/belice.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Colombia</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>

                        </div>

                    </div>

                </div>
            </div>

            <h1><b>Norteamérica</b></h1>

            <div class="row">
                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/americadelnorte/estadosunidos.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Estados Unidos</h4>

                            </div>

                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>
                        </div>

                    </div>

                </div> <!-- end col -->

                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/americadelnorte/canada.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Canadá</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div> <!-- end col -->

                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/americadelnorte/mexico.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">México</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>


                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/americadelnorte/bermuda.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Bermuda</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>


                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/americadelnorte/greolandia.jpg" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">Greolandia</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>
                <div class="col-md-2">
                    <div class="text-center card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Block</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <a asp-area="" asp-controller="Principal" asp-action="Contenedor"><img src="~/assets/images/paises/banderas/americadelnorte/sanpedromaquelon.png" class="img-rounded img-thumbnail" alt="profile-image"></a>

                                <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                            </div>

                            <div class="">
                                <h4 class="m-b-5">San Pedro y Miquelón</h4>

                            </div>
                            <button type="button" class="btn btn-info btn-rounded waves-effect m-t-10 waves-light">Detalle</button>


                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div>


</div>

